.section2_wrapper {
}
.section2_columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
}
.section2_column {
  border: solid 1px #000;
  width: 50%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.section2_header {
  color: #cc9900;
  font-size: 2.5rem;
}
.section2_p {
  color: #848484;
  font-size: 1.2rem;
}
.section2_chef {
  background: url("./img/chef.jpg");
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-repeat: round;
}
.bg_sect2 {
  background-image: url("./img/sect2-main.jpg");
  background-repeat: round;
}

.astrodivider {
  width: 400px;
  max-width: 100%;
  position: relative;
}

.astrodividermask {
  overflow: hidden;
  height: 20px;
}

.astrodividermask:after {
  content: "";
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px #cc9900;
}
.astrodivider span {
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -25px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #cc9900;
  background: #fff;
}
.astrodivider i {
  position: absolute;
  top: 4px;
  bottom: 4px;
  left: 4px;
  right: 4px;
  border-radius: 100%;
  border: 1px dashed #cc9900;
  text-align: center;
  line-height: 40px;
  font-style: normal;
  color: #cc9900;
}
