.section3_bottom {
  width: 400px;
  height: 400px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #000;
  background-color: rgba(14, 13, 13, 0.6);
  color: #fff;
}
.section3_indegr {
  border-radius: 50%;
  border: solid 3px rgba(14, 13, 13, 0.8);
  width: 80px;
  height: 80px;
  margin-left: 20px;
  background-size: contain;
  background-color: lightgrey;
}
.section3_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
