/* main */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

.page_wrapper {
  width: 100%;
  min-width: 700px;
  margin: 0 auto;
  position: relative;
}

.page_footer {
  padding: 0px 80px;
}

.main_section {
  min-height: 750px;
  padding: 70px 80px;
}
.main_section:first-child {
  padding-top: 50px;
}

.section_columns {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
}
.section_column {
  width: 100%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  align-items: center;
}

.main_section_dark {
  color: #fff;
  background-color: rgba(169, 169, 169, 0.212);
}
.bg_promo {
  background-image: url("img/header.jpg");
  background-size: cover;
  background-color: #3e4334;
}
.bg_ingredients {
  background-image: url("img/bg1.png");
  background-size: cover;
  background-color: #304927;
}
.bg_reviews {
  background-image: url("img/bg2.jpg");
  background-size: cover;
  background-color: #cfa588;
}

.main_section_light {
  background: radial-gradient(
        circle at right,
        rgba(233, 241, 223, 0) 0.33333em,
        #e9f1df 0.33333em,
        #e9f1df 0.48889em,
        rgba(233, 241, 223, 0) 0.48889em,
        rgba(233, 241, 223, 0) 0.82222em,
        #e9f1df 0.82222em,
        #e9f1df 0.97778em,
        rgba(233, 241, 223, 0) 0.97778em,
        rgba(233, 241, 223, 0) 1.31111em,
        #e9f1df 1.31111em,
        #e9f1df 1.46667em,
        rgba(233, 241, 223, 0) 1.46667em
      )
      0 0,
    radial-gradient(
        circle at left,
        rgba(233, 241, 223, 0) 0.57778em,
        #e9f1df 0.57778em,
        #e9f1df 0.73333em,
        rgba(233, 241, 223, 0) 0.73333em,
        rgba(233, 241, 223, 0) 1.06667em,
        #e9f1df 1.06667em,
        #e9f1df 1.22222em,
        rgba(233, 241, 223, 0) 1.22222em
      )
      0 3.05146em,
    linear-gradient(
        to right top,
        #e9f1df 0.15556em,
        rgba(233, 241, 223, 0) 0.15556em
      )
      1.22222em 0.15556em,
    linear-gradient(
        to left top,
        #e9f1df 0.15556em,
        rgba(233, 241, 223, 0) 0.15556em
      )
      1.22222em 0.15556em,
    linear-gradient(
        to right bottom,
        #e9f1df 0.15556em,
        rgba(233, 241, 223, 0) 0.15556em
      )
      1.22222em 0.15556em,
    linear-gradient(
        to left bottom,
        #e9f1df 0.15556em,
        rgba(233, 241, 223, 0) 0.15556em
      )
      1.22222em 0.15556em;
  background-size: 2.8em 2.8em;
  background-color: #e8e8e8;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* font styles */
.section_about_header,
.section_menu_header {
  color: #cc9900;
  font-size: 24px;
  margin: 15px 0px;
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}
.section_ingredients_header,
.section_reviews_header {
  color: #fff;
  font-size: 24px;
  margin: 15px 0px;
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}
.section_column p {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 26px;
}

.section_ingredients p,
.section_reviews p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin: 20px;
}

.section_reviews_quote {
  width: 620px;
  font-size: 25px;
  font-family: "Gentium Book Basic", serif;
  line-height: 40px;
}

/* header */
.page_header {
  position: absolute;
  width: 100%;
  padding: 0px 80px;
}
.nav_wrapper {
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
  flex-wrap: wrap;
}

.logo {
  font-size: 30px;
  color: rgba(248, 243, 253, 0.932);
}
.nav_item {
  font-size: 21px;
  font-weight: bold;
  font-family: "Gentium Book Basic", serif;
  padding: 30px;
}
.nav_item:hover,
.nav_item:focus {
  border-top: solid 2px rgba(223, 223, 223, 0.938);
}
.nav_item a,
.logo a {
  text-decoration: none;
  color: #fff;
}
.logo {
  padding: 30px;
  position: absolute;
  left: 18px;
}
.social_wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
.social_icon {
  margin-left: 10px;
  color: #dab33e;
  font-size: 24px;
}

/* section promo */
.section_promo_wrapper {
  display: flex;
  flex-direction: column;
  padding: 155px 0px;
  justify-content: space-between;
  color: #fff;
}
.section_promo_top {
  width: 100%;
}
.section_promo_center {
  align-self: center;
}

.section_promo_name {
  font-size: 70px;
  text-align: center;
}
.section_promo_bottom {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 75px 0px;
}

.section_promo_button {
  padding: 20px 60px;
  margin: 0 10px;
  text-decoration: none;
  color: #fff;
}
.section_promo_button__primary {
  border: solid 1px #000;
  background-color: rgba(14, 13, 13, 0.6);
}

.section_promo_button__secondary {
  border: solid 1px #fff;
}
/* section about */
.section_about_plate {
  height: 500px;
  width: 500px;
}
.section_about_p {
  width: 420px;
}
.section_about_chef {
  display: block;
  width: 120px;
  position: relative;
  border-radius: 50%;
  background-image: url("../img/chef.jpg");
  background-size: contain;
}

/* section ingredients */
.section_ingredients {
  width: 560px;
  height: 560px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #000;
  background-color: rgba(14, 13, 13, 0.6);
  color: #fff;
}
.section_ingredients_ingred {
  border-radius: 50%;
  border: solid 6px rgba(14, 13, 13, 0.8);
  width: 80px;
  height: 80px;
  margin-left: 20px;
  background-size: contain;
  background-color: rgb(161, 156, 156);
}
.section_ingredients_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.section_ingredients_p {
  width: 400px;
}

/* section menu */
.section_menu_column {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: start;
  align-items: center;
}

.menu_item {
  margin: 5px 0;
  font-size: 18px;
  color: #000000;
  font-family: "Open Sans";
}
.special {
  border: solid 1px #cc9900;
  padding: 7px;
}

.special::after {
  position: relative;
  background-image: url(../img/special.png);
  background-size: contain;
  left: 435px;
  top: -79px;
  content: "Special";
  color: #fff;
  padding: 5px 10px;
}

.menu_item_name {
  font-family: helvetica;
  font-weight: bold;
  width: 500px;
  border-bottom: solid 1px #cc9900;
  color: #cc9900;
}

.menu_item_description {
  font-weight: normal;
  font-size: 0.9em;
  line-height: 1.5em;
}

.menu_item_price {
  float: right;
  font-weight: bold;
  font-family: arial;
  margin-top: -22px;
  color: #cc9900;
}

/* section reviews */
.section_reviews_wrapper {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 400px;
}

.section_reviews_bottom {
  width: 770px;
  height: 560px;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px #000;
  background-color: rgba(14, 13, 13, 0.6);
  color: #fff;
}

figure::after {
  position: relative;
  background-image: url("../img/sect5-quote.png");
  background-size: contain;
  width: 37px;
  height: 30px;

  right: 331px;
  top: -253px;
  content: "";
}

/* section reservation */
.section_reservation_pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section_reservation_pic {
  width: 270px;
  margin: 20px;
}

.section_reservation_column {
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.contact_form {
  display: flex;
  text-align: left;
  justify-content: space-around;
}

input {
  background-color: #fbfbfb;
  width: 200px;
  padding: 5px;
  border: 3px solid darkgrey;
  line-height: 17px;
}
input:hover {
  border-color: #cc9900;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ec576b;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  width: 200px;
  height: 35px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #cc9900;
  cursor: pointer;
  border: none;
}

.section_reservation_column p {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  color: #000;
  line-height: 24px;
}
.form_left {
  margin-right: 40px;
}
.form_item {
  color: #c9a131;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  font-weight: bold;
}
.section_reservation_column .form_button {
  margin-top: 5px;
  color: #fff;
}

/* footer */
.page_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
  min-height: 50vh;
  background-color: #191919;
  color: #f2f2f2;
  padding-top: 50px;
}
.footer_column {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer_header {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
}
.page_footer p {
  color: #f2f2f2;
  line-height: 20px;
  font-weight: 100;
}

.page_footer span {
  font-size: 1.25rem;
}
.page_footer h4 {
  margin: 0;
  line-height: 24px;
  margin-top: 24px;
}
.footer-icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 21px;
}
.footer-card {
  margin-left: 10px;
  color: #f2f2f2;
  font-size: 20px;
}
