.ico_a {
  background-image: url("/icons/twitter-logo.png");
  filter: invert(64%) sepia(62%) saturate(717%) hue-rotate(18deg)
    brightness(103%) contrast(104%);
}
.ico_b {
  background-image: url("/icons/youtube-icon.png");
  filter: invert(64%) sepia(62%) saturate(717%) hue-rotate(18deg)
    brightness(103%) contrast(104%);
}
.ico_c {
  background-image: url("/icons/facebook-icon.png");
  filter: invert(64%) sepia(62%) saturate(717%) hue-rotate(18deg)
    brightness(103%) contrast(104%);
}
