.section2_header,
.section4_header {
  color: #cc9900;
  font-size: 24px;
  margin: 15px 0px;
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}
.section3_header,
.section5_header {
  color: #fff;
  font-size: 24px;
  margin: 15px 0px;
  font-family: "Yeseva One", cursive;
  letter-spacing: 2px;
}
.section_column p {
  color: #4c4c4c;
  font-size: 16px;
  font-weight: bold;
  font-family: "Lato", sans-serif;
  line-height: 26px;
}

.section3 p,
.section5 p {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "Lato", sans-serif;
  margin: 20px;
}

.logo {
  font-size: 30px;
  color: rgba(248, 243, 253, 0.932);
}
.nav_item {
  font-size: 1.2rem;
  font-weight: bold;
}
