.page_footer {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: flex-start;
  min-height: 50vh;
  background-color: #191919;
  color: #f2f2f2;
  padding-top: 50px;
}
.footer_column {
  display: flex;
  flex-direction: column;
  width: 30%;
}
.footer_header {
  color: #f2f2f2;
  font-weight: bold;
  font-size: 24px;
  padding-bottom: 20px;
}
.page_footer p {
  color: #f2f2f2;
  line-height: 20px;
  font-weight: 100;
}

.page_footer span {
  font-weight: bold;
}
.page_footer h4 {
  margin: 0;
  line-height: 24px;
  margin-top: 24px;
}
