.page_header {
  position: absolute;
  width: 100%;

  padding: 0px 80px;
}
.nav_wrapper {
  display: flex;
  justify-content: flex-end;
  line-height: 40px;
}
.nav_item {
  padding: 30px;
}
.nav_item:hover {
  border-top: solid 2px rgba(223, 223, 223, 0.938);
}
.nav_item a,
.page_header_logo a {
  text-decoration: none;
  color: #fff;
}
.page_header_logo {
  padding: 30px;
  position: absolute;
  left: 18px;
}
.social_wrapper {
  display: flex;
  flex-direction: row;
  padding-top: 30px;
}
.social_item {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin-left: 10px;
}
