.section2_plate {
  height: 500px;
  width: 500px;
}
.section2_p {
  width: 420px;
}
.section2_chef {
  display: block;
  width: 120px;
  height: 120px;
  position: relative;
  border-radius: 50%;
  background-image: url("../img/chef.jpg");
  background-size: contain;
}
