.section6_pictures {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.section3_pic {
  width: 270px;
  height: 500px;
  margin: 20px;
}

.section6_column {
  width: 100%;
  margin: 0px 10px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  text-align: center;
}
.contact_form {
  display: flex;
  text-align: left;
  justify-content: space-around;
}

input {
  background-color: #fbfbfb;
  width: 200px;
  height: 40px;
  border: 3px solid darkgrey;
}
input:hover {
  border-color: #cc9900;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #ec576b;
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

button {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  background-color: #cc9900;
  width: 300px;
  cursor: pointer;
  border: none;
}

button p {
  margin-top: 10px;
  color: #fff;
}

p {
  font-size: 16px;
  font-weight: bold;
  color: #cc9900;
  line-height: 24px;
}
